- if card
  .card_block.col-xl-2.col-lg-2.col-md-3.col-4
    - if user_signed_in? && current_user
      = link_to select_card_path(card_id: card.id), method: :post, remote: true do
        = fa_icon "star-o", class: "star #{'active' if current_user.has_selected_card? card.id}"
    = image_tag card.picture, class: "card not_drag", "onclick" => "playSound(\"#{card.sound}\");", id: ("card_#{card.id}")
