- unless @extra_tests.empty?
  .container.test_menu.extra
    = render :partial => 'menu_block', locals: { name: t('game.extra_packs'), tests: @extra_tests }
    = paginate @extra_tests, param_name: :extra_tests

- unless @assigned_tests.empty?
  .container.test_menu
    = render :partial => 'menu_block', locals: { name: t('game.assigned_packs'), tests: @assigned_tests }
    = paginate @assigned_tests, param_name: :assigned_tests

- unless @free_tests.empty?
  .container.test_menu
    = render :partial => 'menu_block', locals: { name: t('game.lets_play_packs'), tests: @free_tests }
    = paginate @free_tests, param_name: :free_tests

.container.test_menu.p-2
  = link_to t('game.premium_packs_link'), game_premium_path, class: 'pack_link m-2'
