//Css for sidebar
// Sidebar
:css
  body {
  padding-left: 100px;
  }
%ul.sidenav.navbar-fixed-left
  %li.text-center
    %a#back
      = fa_icon "chevron-circle-left"
    %span#number_of_part{"data-text" => "1"}
    %a#next
      = fa_icon "chevron-circle-right"
  %li.text-center
    %a#refresh_btn
      = fa_icon "refresh"
  %li.text-center.bottom
    %a.check_btn#iconed_btn
      = fa_icon "play-circle"
  %li.text-center
    %a{"data-toggle" => "modal", :href => ".level-of-difficulty-modal-sm"}
      = fa_icon "cog"
  / Button trigger modal
.container.mt-2.slides_btns
  .row{:style => "padding: 5px 30px;"}
    .col-2
      %button.btn{:onclick => "if (document.getElementsByClassName('fa-stop-circle')[0] ) {finish_test(); window.location.search = '?slide=0'} else { $('.slider-block').slick('slickGoTo', 0 ); }"} 1-50
    .col-2
      %button.btn{:onclick => "if (document.getElementsByClassName('fa-stop-circle')[0] ) {finish_test(); window.location.search = '?slide=1'} else { $('.slider-block').slick('slickGoTo', 1 ); }"} 51-100
    .col-2
      %button.btn{:onclick => "if (document.getElementsByClassName('fa-stop-circle')[0] ) {finish_test(); window.location.search = '?slide=2'} else { $('.slider-block').slick('slickGoTo', 2 ); }"} 101-150
    .col-2
      %button.btn{:onclick => "if (document.getElementsByClassName('fa-stop-circle')[0] ) {finish_test(); window.location.search = '?slide=3'} else { $('.slider-block').slick('slickGoTo', 3 ); }"} 151-200
.container.mt-2
  .row
    .col-6.d-from-md-none
      %button.check_btn#texted_btn.btn.btn-success.mx-3{:type => "button"} Play
    .col-6.d-from-md-none.text-right
      %button.btn.btn-secondary.mx-3.check_btn{:type => "button", "data-toggle" => "modal", "data-target" => ".level-of-difficulty-modal-sm"} Level
.slider-block
  - @cards.in_groups(4).each_with_index do |cards_part, i|
    = content_tag(:div, class: "block-slide", id: ('block_slide_' + (i+1).to_s), "data-test-part" => (i+1) ) do
      .container
        .row.mx-auto
          = render partial: "game/card", collection: cards_part, as: :card
// Game
.container.test_part

/ Modal
.modal.fade.level-of-difficulty-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %h5#LevelOfDifficultyLabel.modal-title Level of difficulty
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .btn-group-vertical{"aria-label" => "Basic example", :role => "group"}
          %button{:type => "button", "data-level" => "1", :class => "btn btn-secondary #{'btn-active' if cookies[:level] == '1'}"} Easy
          %button{:type => "button", "data-level" => "2", :class => "btn btn-secondary #{'btn-active' if cookies[:level] == '2'}"} Medium
          %button{:type => "button", "data-level" => "3", :class => "btn btn-secondary #{'btn-active' if cookies[:level] == '3'}"} Hard
          - if user_signed_in?
            %button{:type => "button", "data-level" => "4", :class => "btn btn-secondary #{'btn-active' if cookies[:level] == '4'}"} Selected cards
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
