//Css for sidebar
// Sidebar
.game_zone{'data-learning': true}
  %ul.bottomnav.navbar-fixed-left
    %li
      %span.badge.badge-light Score
      %span#score.odometer{'data-score': current_user.scores}= current_user.scores
    %li.level_block
      %span.badge.badge-secondary Level
      %input.level{type: "text", name: "level", value: cookie_level, 'data-toggle': "tooltip", 'data-placement': "top"}
    %li.quarter_block
      %span.badge.badge-secondary Part
      %input.part_number{type: "text", name: "level", value: 1, 'data-toggle': "tooltip", 'data-placement': "top"}
    %li
      = link_to unselect_all_cards_path(test_id: @test.id), method: :delete, remote: true, class: "btn remove_stars" do
        = image_tag "/unselect_all.svg", class: "unselect_all"
    %li
      %button.btn.auto_play{:type => "button"} Auto
    %li
      %button.play.btn#texted_btn{:type => "button"} Play
    / Button trigger modal
  .container.mobnav.mt-2
    .row
      .col-6.d-from-md-none
        %button.play#texted_btn.btn.play{:type => "button"} Start
        %button.auto_play.btn{:type => "button"} Auto
      .col-6.d-from-md-none.text-right
        %button.btn.btn-secondary{:type => "button", "data-toggle" => "modal", "data-target" => ".settings-modal-sm"} Settings
        %button.btn.btn-secondary.fullscreen
          %i.fa.fa-arrows-alt{"aria-hidden" => "true"}
  .slider-block
    - @cards.in_groups_of(25).each_with_index do |cards_part, i|
      = content_tag(:div, class: "block-slide", id: ('block_slide_' + (i+1).to_s), "data-test-part" => (i+1) ) do
        %table.cards_part
          - cards_part.each_slice(5) do |card_row|
            %tr
              = render partial: "game/card", collection: card_row, as: :card
  // Game
  .game.container
    .row
      .col-md-9.col-sm-12
        %table.test_part{:cellspacing => "0"}
      .col-md-3.col-sm-12.notifications_block
        .mobile_info
          %span
            %div Score:
            .b#mob_score.odometer= current_user.points
          %span
            %div Level:
            .b= cookie_level
          %span
            %div Part:
            .b 1
        .notification_holder
          .notification_slider
          .btn-group.slider_controls{"aria-label" => "Basic example", :role => "group"}
            %button.btn.btn-dark.prev_arrow{:type => "button"} â†
            %button.btn.btn-dark.next_arrow{:type => "button"} â†’
        .mobile_controll
          %button.btn.auto_play.mob
            %span A
            %i.fa.fa-repeat{"aria-hidden" => "true"}
          %button.btn.play.mob
            %i.fa.fa-repeat{"aria-hidden" => "true"}
          %button.btn.settings.mob{:type => "button", "data-toggle" => "modal", "data-target" => ".settings-modal-sm"}
            %i.fa.fa-cog{"aria-hidden" => "true"}

  / Modal
  .modal.fade.settings-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "settings-modal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %h5#LevelOfDifficultyLabel.modal-title Settings
        .modal-body
          .btn-group-vertical{"aria-label" => "Basic example", :role => "group"}
            .level_block
              %span.badge.badge-secondary Level
              %input.level{type: "text", name: "level", value: cookie_level, 'data-toggle': "tooltip", 'data-placement': "top"}
            .quarter_block
              %span.badge.badge-secondary Part
              %input.part_number{type: "text", name: "level", value: 1, 'data-toggle': "tooltip", 'data-placement': "top"}
        .modal-footer.final_block
          %a.btn.btn-secondary{href: "/game"}
            %i.fa.fa-power-off{"aria-hidden" => "true"}
          %button.btn.btn-success{"data-dismiss" => "modal", :type => "button"} OK
          %button.btn.btn-secondary.fullscreen
            %i.fa.fa-arrows-alt{"aria-hidden" => "true"}
