!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = Gon::Base.render_data
    = display_meta_tags site: 'BingoLinguo', title: 'Made by LinguaLand with ❤', description: 'Play a new card game with LinguaLand. Improve your perception skills and memory with fun. You have a great opportunity to challenge yourself online and for free! Test your knowledge,  assess your abilities, study well!', keywords: 'Card game , study, LinguaLand, school, play, test, online, free, picto, pictures, student, develop, improve, skills, level, vocabulary, icon game, fun, easy, challenge  yourself, memorizing, schoolwork, assessment, check your knowledge, quiz, trial and error, clever, headpiece, quick, fast, points, memory, mind, homework, understand, intellectual, work, perception, игра, карточки, пиктограмма, память, ум, развитие, учеба, просто, уровень, задание, лексика, тест, восприятие, смекалка, картинки, школа, задание, оценка, бесплатно, онлайн, словарь, сайт, навык, умение, базовый курс, студент, ребенок, ученик, проверка, знание, зачет, очки, слова, тема, язык, обучение'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "/resources/jquery-ui.min.js"}
    %script{:src => "/resources/jquery-fsortable.js"}
    %script{:src => "/resources/jquery.ui.touch-punch.min.js"}
    %script{:src => "/resources/howler.core.min.js"}
    %meta{:content => "width=device-width,  initial-scale=1.0, minimum-scale: .5, maximum-scale: 5.0", :name => "viewport"}/
    %meta{:content => "08e9fc1e18a58eed", :name => "yandex-verification"}/
    = action_cable_meta_tag
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.navbar-fixed-top
      %a.navbar-brand{:href => "/"} BingoLinguo
      %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{:href => "/game"} Play a game
          - if current_user
            %li.nav-item
              %a.nav-link{:href => "/chat"} Chat
          %li.nav-item
            %a.nav-link{:href => "/top"} Top 10
          - if current_user.try(:admin?)
            %li.nav-item
              %a.nav-link{:href => "/admin"} Admin panel
        %ul.navbar-nav.ml-auto
          - if current_user
            %a.picture.nav-link{:href => "/personal_account"}= (current_user.first_name[0]+current_user.last_name[0]).upcase
          - if current_user
            %li.nav-item
              = link_to "Log Out", destroy_user_session_path, class: "nav-link", method: :get
          - else
            %li.nav-item
              = link_to "Sign Up", new_user_registration_path, class: "nav-link"
            %li.nav-item
              = link_to "Log In", new_user_session_path, class: "nav-link"
    - if notice.present?
      .alert.alert-info{:role => "alert"}
        = notice
    - if alert.present?
      .alert.alert-warning{:role => "alert"}
        = alert
    = yield

    / Footer
    %footer.page-footer.font-small.bg-dark.text-white
      %div{:style => "background-color: #6351ce;"}
        .container
          / Grid row
          .row.py-4.d-flex.align-items-center
            / Grid column
            .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
              %h6.mb-0 Get connected with us on social networks!
            / Grid column
            / Grid column
            .col-md-6.col-lg-7.text-center.text-md-right
              / Facebook
              %a.fb-ic
                %i.fa.fa-facebook.white-text.mr-4
              / Twitter
              %a.gplus-ic
                %i.fa.fa-google-plus.white-text.mr-4
              / Linkedin
              %a.li-ic
                %i.fa.fa-linkedin.white-text.mr-4
              / Instagram
              %a.ins-ic
                %i.fa.fa-instagram.white-text
            / Grid column
          / Grid row
      / Footer Links
      .container.text-center.text-md-left.mt-5
        / Grid row
        .row.mt-3
          / Grid column
          .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
            / Content
            %h6.text-uppercase.font-weight-bold BingoLinguo
            %hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto{:style => "width: 60px;"}/
            %p
              Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit.
          / Grid column
          / Grid column
          .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
            / Links
            %h6.text-uppercase.font-weight-bold Products
            %hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto{:style => "width: 60px;"}/
            %p
              %a{:href => "/"} Let's play
            %p
              %a{:href => "#!"} Subscription
            %p
              %a{:href => "#!"} Personal vocabulary account
            %p
              %a{:href => "/chat"} Chat
            %p
              %a{:href => "/help"} F.A.Q.
          / Grid column
          / Grid column
          .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
            / Links
            %h6.text-uppercase.font-weight-bold Contact
            %hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto{:style => "width: 60px;"}/
            %p
              %i.fa.fa-envelope.mr-3
              bingolinguo@gmail.com
            %p
              %i.fa.fa-phone.mr-3
              + 380953119125
          / Grid column
        / Grid row
      / Footer Links
      / Copyright
      .footer-copyright.text-center.py-3{:style => "background:  rgba(0,0,0,.2);"}
        © #{Time.current.year} Copyright:
        %a{:href => "http://bingolinguo.club/"} BingoLinguo.club
      / Copyright
    / Footer
  %button#bug.btn.btn-default.btn-circle{:type => "button"}
    %i.fa.fa-bug
